.row{
    margin-left: 20px;
    color: #fff;
}
.poster{
    display: flex;
    padding: 20px;
    overflow-x:scroll ;
    overflow-y: hidden;
}
.poster::-webkit-scrollbar{
    display: none;
}
.posters{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .smallPoster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .posters:hover,
  .smallPoster:hover {
    transform: scale(1.1);
  }